[submodule "service/sound/third/index_tts"]
	path = service/sound/third/index_tts
	url = https://github.com/index-tts/index-tts.git
	ignore = dirty
[submodule "service/video/third/wan2_2"]
	path = service/video/third/wan2_2
	url = git@github.com:Wan-Video/Wan2.2.git
	ignore = dirty
